<%- include("template/header", {tituloWeb: "Create Card" , styles: "css/style.css" }) %>
    <div id="app">
        <%- include("template/navbar") %>
            <div>
                <h2>Cards</h2>
            </div>
            <main>

                <Form v-cloak>
                    <h2>Select Card type and Color</h2>
                    <label for="cardtype">Card Type:</label>
                    <select v-model="type" name="cardtype" id="cardtype">
                        <option value="">Select type</option>
                        <option v-show="cardsDebito.length < 3" value="Debito" selected>Debit</option>
                        <option v-show="cardsCredito.length < 3" value="Credito">Credit</option>
                    </select>
                    <label for="color">Card Color:</label>
                    <select v-model="color" name="color" id="color">
                        <option value="">Select color</option>
                        <option value="SILVER" selected>SILVER</option>
                        <option value="GOLD">GOLD</option>
                        <option value="TITANIUM">TITANIUM</option>
                    </select>

                    <input class="mt-2 botones" type="button" value="Create" @click="AddCard">
                </Form>


            </main>
            <div>
                <img class="imagenCreateCards" src="./img/Project_16-11.jpg" alt="">
            </div>
    </div>







    <!-- script axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- script vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- swal -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- mis scripts -->
    <script src="js/cards.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <%- include("template/footer")%>