<header>
    <div>
        <a href="accounts">
            <h1 style="color: white;">HomeBanking</h1>
        </a>
    </div>
    <div class="toggle">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
            <ul>
                <li><a href="transfers">Transfers</a></li>
                <li><a href="cards">Cards</a></li>
                <li><a href="accounts">Accounts</a></li>
                <li><a href="loans">Loans</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <nav class="nav-horizontal">
        <a href="transfers">Transfers</a>
        <a href="cards">Cards</a>
        <a href="accounts">Accounts</a>
        <a href="loans">Loans</a>
        <a href="logout">Logout</a>
    </nav>
</header>